<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="myFirstApp">
  <head>
    <meta charset="utf-8">
    <<script src="angular.min.js"></script>
    <<script src="app.js"></script>
    <title>Maa Kali Coald Traders</title>
  </head>
  <body>
    <h1>Coal Shop that caters to all your energy needs</h1>
      <div class="" id="stringSplitter" ng-controller="StringController">
          <div class="" id="output" >
            <input type="text" name="stringInput" ng-model="stringInput" value="">

            <button ng-click="splitString()">Check if Too Much</button>
            <br>
            <p>{{evaluation}}</p>
          </div>
      </div>
  </body>
</html>
